@import url('base.css');


html, body {
  width: 100%;
  height: 100%;
}
.component_box {
  height: 100%;
}

.component_box>.layui-tab-brief {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.component_box>.layui-tab-brief>.layui-tab-title {
  width: 11%;
  height: 100%;
  background: #1B354E;
  border-bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
}

.component_box>.layui-tab-brief>.layui-tab-title li {
  display: block;
  padding: 0 0 0 20px;
  text-align: left;
  line-height: 36px;
  color: #fff;
  font-size: 16px;
  margin: 8px 0;
}

.component_box>.layui-tab-brief>.layui-tab-title li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.component_box>.layui-tab-brief > .layui-tab-more li.layui-this:after, .component_box>.layui-tab-brief > .layui-tab-title .layui-this:after {
  border-left: 3px solid #108EE9;
  border-bottom: 0;
}

.component_box>.layui-tab-brief>.layui-tab-title .layui-this:after {
  height: 36px;
}

.component_box>.layui-tab-brief > .layui-tab-title .layui-this {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/*右部分*/
.component_box>.layui-tab>.layui-tab-content {
  float: left;
  width: 89%;
  padding: 0;
  margin-left: 11%;
  height: 100%;
  overflow: auto;
}

.component_box>.layui-tab>.layui-tab-content>.layui-tab-item {
  padding: 40px 120px 40px 35px;
}

.component_box>.layui-tab>.layui-tab-content>.layui-tab-item .explain {
  margin-bottom: 40px;
}

.component_box>.layui-tab>.layui-tab-content >.layui-tab-item .explain h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 25px;
}

.component_box>.layui-tab>.layui-tab-content >.layui-tab-item .explain h2 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}

.component_box>.layui-tab>.layui-tab-content >.layui-tab-item .explain .explain_con{
  padding-left: 42px;
}

.component_box>.layui-tab>.layui-tab-content >.layui-tab-item .explain .explain_con p {
  line-height: 28px;
  font-size: 16px;
  color: #333;
}

/*顶部导航*/
.head-nav-box{
  width: 100%;
  height: 102px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 14px;
  margin-top: 20px;
}
.head-nav-box>.head-nav{
  width: 100%;
  height: 100%;
  background: #108EE9;
  position: relative;
}
.head-nav-box>.head-nav>.head-nav-l{
  height: 100%;
  float: left;
  padding: 14px 20px;
  box-sizing: border-box;
}
.head-nav-box>.head-nav>.head-nav-l>div{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #F3F3F3;
  text-align: center;
  line-height: 44px;
  float: left;
  margin-right: 16px;
}
.head-nav-box>.head-nav>.head-nav-l>div>img{
  width: 20px;
}
.component_box>.layui-tab>.layui-tab-content>.layui-tab-item .head-nav-box>.head-nav>.head-nav-l>p{
  font-size: 26px;
  color: #fff;
  float: left;
  line-height: 42px;
}
.head-nav-box>.head-nav>.head-nav-r{
  height: 100%;
  float: right;
}
.head-nav-box>.head-nav>.head-nav-r .setting,.head-nav-box>.head-nav>.head-nav-r .ling{
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 22px;
  float: left;
  margin-top: 23px;
}
.head-nav-box>.head-nav>.head-nav-r .ling span{
  display: block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  background: red;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -9px;
}
.head-nav-box>.head-nav>.head-nav-r .setting img,.head-nav-box>.head-nav>.head-nav-r .ling img{
  width: 100%;
}
.vertical{
  width: 1px;
  height: 30px;
  background: #49A9EE;
  float: left;
  margin: 20px 25px 0 11px;
}
.user{
  float: left;
  margin-top: 19px;
  margin-right: 56px;
  position: relative;
  cursor: pointer;
}
.user>div:first-child{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.user>div img{
  width: 100%;
}
.component_box>.layui-tab>.layui-tab-content>.layui-tab-item .head-nav-box>.head-nav>.head-nav-r .user>p{
  font-size: 16px;
  color: #fff;
  float: left;
  margin-left: 15px;
  line-height: 32px;
}
.user>div:last-child{
  width: 0;
  height: 0;
  position: absolute;
  top: 15px; right:-28px;
  border-top: 6px solid #fff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.head-nav-box1{
  height: 94px;
}
.head-nav-box1>.head-nav>.head-nav-l{
  height: 100%;
  float: left;
  padding: 10px 20px;
  box-sizing: border-box;
}
.head-nav-box1>.head-nav>.head-nav-r .setting,.head-nav-box1>.head-nav>.head-nav-r .ling{
  margin-top: 20px;
}
.head-nav-box1>.head-nav>.head-nav-r .vertical{
  margin-top: 17px;
}
.head-nav-box1>.head-nav>.head-nav-r .user{
  margin-top: 16px;
}

.head-nav-m{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.head-nav-m ul{
  height: 100%;
}
.head-nav-m ul li{
  padding: 8px 15px;
  box-sizing: border-box;
  height: 100%;
  float: left;
  cursor: pointer;
  transition: all 0.3s;
}
.head-nav-m ul li div{
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  margin: 0 auto;
}
.head-nav-m ul li:hover{
  background: rgba(255,255,255,0.1);
}
.head-nav-m ul li.active{
  background: #0A5C98;
}
.head-nav-m ul li.active div{
  background: #fff;
}
.component_box>.layui-tab>.layui-tab-content>.layui-tab-item .explain .explain_con .head-nav-m>ul>li>p{
  font-size: 16px;
  color: #fff;
}



/*侧边导航*/
.nav-side{
  width: 100%;
  height: auto;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}
.zlit-nav{
  width: 224px;
  background-color: #1B354E;
  box-sizing: border-box;
  padding: 9px 0;
}
.zlit-nav li,.zlit-nav-child dd{
  font-size: 16px;
  line-height: 36px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.zlit-nav .zlit-nav-item-active i{
  transform: rotateZ(90deg);
}
.zlit-nav li:hover,.zlit-nav-child dd:hover{
  background: rgba(255,255,255,0.2);
}
.zlit-nav li.active{
  background: rgba(255,255,255,0.2);
}
.zlit-nav li.active::after,.zlit-nav-child dd.active::after{
  content: '';
  width: 3px;
  height: 36px;
  background: #108ee9;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.zlit-nav li.zlit-nav-item:hover{
  background-color: #1B354E;
}
.zlit-nav-child dd{
  padding-left: 48px;
}
.zlit-nav li::before{
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #B5BDC5;
  border-radius: 50%;
  float: left;
  margin: 8px 10px 0 20px;
}
.zlit-nav li a,.zlit-nav li i,.zlit-nav-child dl a{
  color: #D1D7DC;
}
.zlit-nav li i{
  float: right;
  margin-right: 10px;
  transition: all 0.3s;
}
.zlit-nav .zlit-nav-child{
  width: 100%;
  background-color: #1B354E;
  display: none;
}
.zlit-nav .zlit-nav-item-active .zlit-nav-child{
  display: block;
}
.zlit-nav .zlit-nav-child dd.active{
  background: rgba(255,255,255,0.2);
}



/*tab标签页*/
.tab-box{
  width: 100%;
  height: auto;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 14px;
}
/*扩展layui.css*/
@-webkit-keyframes layui-left {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: .3
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
@keyframes layui-left {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: .3
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.layui-anim-left {
  -webkit-animation-name: layui-left;
  animation-name: layui-left
}
/*风格一*/
.tab-style-1>.layui-tab-brief>.layui-tab-title .layui-this{
  color: #108EE9;
}
.tab-style-1>.layui-tab-brief>.layui-tab-more li.layui-this:after,.tab-style-1>.layui-tab-brief>.layui-tab-title .layui-this:after{
  border: none;
}
.tab-style-1>.layui-tab-brief>.layui-tab-title li{
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}
.tab-style-1>.layui-tab-brief>.layui-tab-title li:hover{
  color: #108EE9;
}
.tab-style-1>.layui-tab-brief>.layui-tab-title div{
  width: 65px;
  height: 2px;
  background: #108EE9;
  position: absolute;
  bottom: 0;
  left: 15px;
  transition: all 0.3s;
}
.tab-style-1>.layui-tab>.layui-tab-content{
  background: #F7F8F9;
  margin-top: 10px;
  overflow: hidden;
}
.tab-style-1>.layui-tab>.layui-tab-content>.layui-tab-item{
  height: 140px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
}
/*风格二*/
.tab-style-2>.layui-tab-card{
  border: none;
  box-shadow: none;
}
.tab-style-2>.layui-tab-card>.layui-tab-title{
  background-color: #fff;
  padding-left: 15px;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this{
  color: #108EE9;
}
.tab-style-2>.layui-tab-card>.layui-tab-title li{
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  margin-right: 12px;
  background: #F6F6F6;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  height: 41px;
}
.tab-style-2>.layui-tab-card>.layui-tab-title li:hover{
  color: #108EE9;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this{
  border-bottom: #fff;
  background-color: #fff;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this:after{
  border: none;
  width: 0;
  height: 0;
}
.tab-style-2>.layui-tab>.layui-tab-content{
  overflow: hidden;
  background: #F7F8F9;
  margin-top: 10px;
}



/*面包屑导航*/
.crumbs-nav{
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 15px;
  margin-bottom: 15px;
}
.crumbs-nav .title{
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.crumbs-nav .title h3{
  font-size: 24px;
  color: rgba(0,0,0,0.8);
  float: left;
  margin: 15px 0 20px 0;
}
.crumbs-nav .title .layui-breadcrumb{
  float: right;
  margin: 20px 0 20px 0;
}
.crumbs-nav .title .layui-breadcrumb>*{
  font-size: 16px;
}
.crumbs-nav .title .layui-breadcrumb>a:hover{
  color: #108EE9 !important;
}
.crumbs-nav .layui-btn{
  float: right;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  border-radius: 4px;
}
.crumbs-nav .layui-btn-primary:hover{
  border-color: #C9C9C9;
}
.crumbs-nav .content {
  background: #F7F8F9;
  width: 100%;
  height: 140px;
}



/*分页导航*/
.paging{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 20px 30px;
  margin-top: 16px;
  overflow: hidden;
}
.paging .layui-laypage a,.paging .layui-laypage-curr,.paging .layui-laypage-spr{
  margin: 0 6px 5px 0;
  border-radius: 4px;
}
.paging-3 .layui-laypage a,.paging-3 .layui-laypage-curr,.paging-3 .layui-laypage-spr, .paging-1 .layui-laypage-spr{
  border: none;
}
.paging-2,.paging-3{
  float: left;
}
.paging-3{
  margin-left: 50px;
}
.paging-3 .layui-laypage .layui-laypage-curr em{
  color: #108EE9;
}
.paging .layui-laypage a,.paging .layui-laypage span{
  padding: 0 10px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
.paging .layui-laypage a:hover{
  color: #108EE9;
  border-color: #108EE9;
}
.paging-1 .layui-laypage input,.paging-1 .layui-laypage select,.paging-1 .layui-laypage button{
  color: rgba(0,0,0,0.6);
}
.paging-1 .layui-laypage input:focus,.paging-1 .layui-laypage select:focus{
  border-color: #108EE9 !important;
}
.paging-1 .layui-disabled,.paging-2 .layui-disabled{
  background: #F2F2F2;
  color: #9a9a9a !important;
}
.paging-3 .layui-disabled,.paging-4 .layui-disabled{
  color: #9a9a9a !important;
}
.paging a.layui-disabled:hover{
  border-color: #E2E2E2;
}
.paging-4{
  overflow: hidden;
  line-height: 28px;
}
.paging-4 a{
  display: block;
  float: left;
  font-size: 14px;
  font-family: SimSun;
}
.paging-4 a:hover{
  color: #108EE9;
}
.paging-4 a.prev_page{
  margin-right: 10px;
}
.paging-4 a.next_page{
  margin-left: 10px;
}
.paging-4 a.disabled{
  color: #9a9a9a;
  cursor: not-allowed;
}
.paging-4 p{
  float: left;
}
.paging-4 p span.current_page{
  color: #108EE9;
}




/*按钮*/
.often-btn{
  margin: 15px 0;
}
.often-btn:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.often-btn>div{
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 4px;
  width: 47%;
  float: left;
  box-sizing: border-box;
}
.often-btn div.often-btn-circular{
  margin-right: 3%;
}
.often-btn div.often-btn-circular>div,.often-btn div.often-btn-ellipse>div{
  margin-bottom: 20px;
}
.often-btn div.often-btn-circular>div:last-child,.often-btn div.often-btn-ellipse>div:last-child{
  margin: 0;
}
.text_btn{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 15px 15px 15px 40px;
  box-sizing: border-box;
  margin: 15px 0;
}
.icon_btn,.menu_btn,.group_btn{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 30px;
  box-sizing: border-box;
  margin: 15px 0;
}


.layui-btn{
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  box-sizing: border-box;
}
.layui-btn-sm{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 17px;
}
.layui-btn-lg{
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
}
.zlit-btn-sm{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.zlit-btn-icon{
  padding: 0 14px;
}
.zlit-btn-default{
  background: #108EE9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-main{
  border-color: #108EE9;
  color: #108EE9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-main:hover{
  border-color: #108EE9;
  color: #108EE9;
}
.zlit-btn-danger{
  border: 1px solid red;
  color: red;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-danger:hover{
  border: 1px solid red;
  color: red;
  background: #fff;
}
.zlit-btn-primary{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-primary:hover{
  border-color: #c9c9c9;
  color: #555;
}
.zlit-btn-disabled{
  background: #F5F5F5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-disabled:hover{
  background: #F5F5F5;
}
.zlit-btn-del{
  background: red;
  border-radius: 4px;
}
.zlit-btn-radius{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
/*文字按钮*/
.zlit-btn-text{
  border: none;
  color: #108EE9;
}
.zlit-btn-text:hover{
  color: #108EE9;
}
/*按钮组*/
.zlit-btn-group .zlit-btn-main{
  padding: 0 25px;
}
.zlit-btn-group .zlit-btn-main:first-child{
  border-left: 1px solid #108EE9;
  border-radius: 4px 0 0 4px;
}
.zlit-btn-group .zlit-btn-main:last-child{
  border-radius: 0 4px 4px 0;
}
.zlit-btn-group .zlit-btn-main:hover{
  color: #108EE9;
  border-color: #108EE9;
}




/*表单类控件*/
.form-box{
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 4px;
  width: 720px;
  box-sizing: border-box;
  margin: 10px 0;
}
.form-box:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.input-w{
  width: 236px;
}
.form-number-box div,.form-number-box>span{
  float: left;
}
.form-number-box>span{
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
}
.form-number-box>span:first-of-type{
  margin-right: 50px;
}
.h-slideInput{
  width: 420px;
}
.h-slideInput>div{
  margin-bottom: 50px;
}
.unit-text{
  position: relative;
}
.unit-text span,.double-range span{
  font-size: 14px;
  color: #666;
  line-height: 32px;
  position: absolute;
  right: -38px;
  top: -14px;
}
.radio-style-1, .radio-style-2, .check-style{
  display: flex;
}
.radio-style-2{
  margin-top: 20px;
}
.radio-style-2>div, .check-style>div,.select-box>form>.layui-form-item{
  margin: 0;
}
.select-box>form>.layui-form-item{
  width: 340px;
}


.layui-input, .layui-select, .layui-textarea{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}
.layui-input, .layui-select{
  height: 32px;
}
::-webkit-input-placeholder { color:#ccc; font-size: 14px; } /* 伪元素:: */
::-moz-placeholder { color:#ccc; font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { color:#ccc; font-size: 14px; } /* ie */
.layui-input.layui-disabled{
  color: #939393 !important;
  background-color: #F5F5F5;
  font-size: 14px;
}
.layui-input:focus, .layui-textarea:focus, .zlit-input-number:focus{
  border-color: #108EE9 !important;
  -webkit-box-shadow: 0 0 3px 0 rgba(16,142,233,0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(16,142,233,0.3);
  box-shadow: 0 0 3px 0 rgba(16,142,233,0.3);
}
.layui-input.layui-disabled:focus{
  border-color: #E6E6E6 !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.layui-form label.error{
  color: #F5222D !important;
  display: inline-block;
  margin: 6px 0 0 6px;
}
.validateError{
  animation:error 0.6s ease-out 3 forwards alternate;
}
@keyframes error {
  0%{
    border-color: #E6E6E6;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
  100%{
    border-color: #F5222D;
    -webkit-box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
    box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
  }
}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus{
  border-color: #F5222D!important;
  -webkit-box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
  -moz-box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
  box-shadow: 0 0 2px 1px rgba(245,34,45,0.3);
}
.layui-form-select dl dd.layui-this{
  background-color: #108EE9;
}
.zlit-form-label{
  color: #666;
  font-size: 16px;
}
.zlit-number-1{
  position: relative;
  height: 32px;
  width: 137px;
}
.zlit-number-1 button{
  width: 32px;
  height: 32px;
  background: #ffffff;
  outline: none;
  border: 1px solid #D9D9D9;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #B3B3B9;
}
.zlit-number-1 button:hover{
  color: #108EE9;
  background: #F9F9F9;
}
.zlit-number-1 button:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 5px;
  border-right: none;
}
.zlit-number-1 button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 5px;
  border-left: none;
}
.zlit-number-1 input.zlit-input-number{
  display: inline-block;
  outline: none;
  text-align: center;
  width: 64px;
  height: 32px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  position: relative;
  left: 36px;
}
.zlit-number-2{
  width: 88px;
  height: 32px;
  position: relative;
}
.zlit-number-2 button{
  width: 22px;
  height: 17px;
  background: #ffffff;
  outline: none;
  border: 1px solid #D9D9D9;
  position: absolute;
  cursor: pointer;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #B3B3B9;
  line-height: 17px;
}
.zlit-number-2 button:first-child{
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 4px;
  border-top: none;
  border-left: none;
}
.zlit-number-2 button:last-child{
  top: 0;
  right: 0;
  border-top-right-radius: 4px;
  border-left: none;
}
.zlit-number-2 button:hover{
  color: #108EE9;
  background: #F9F9F9;
}
.zlit-number-2 input.zlit-input-number{
  display: inline-block;
  outline: none;
  text-align: center;
  width: 64px;
  height: 32px;
  border: 1px solid #D9D9D9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 2px;
}
.double-range{
  position: relative;
}
.double-range>div{
  width: 80%;
}
.double-range>input{
  position: absolute;
  right: 0;
  top: -14px;
  padding: 0;
  text-align: center;
}
.zlit-input-block .layui-form-radio>i:hover, .zlit-input-block .layui-form-radioed>i{
  color: #108EE9;
}
.zlit-input-radio>div{
  border-radius: 4px;
  color: #333333;
  text-align: center;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.zlit-input-radio>div>i{
  display: none !important;
}
.zlit-input-radio .layui-form-radio>div{
  width: 100%;
  height: 100%;
}
.zlit-input-radio .layui-form-radio>div:hover{
  color: #108EE9;
}
.zlit-input-radio .layui-form-radioed{
  color: #fff;
  background-color: #108EE9;
  border-color: #108EE9;
}
.zlit-input-radio .layui-form-radioed>div:hover{
  color: #ffffff;
}
.zlit-input-radio .layui-form-radioed.layui-radio-disbaled{
  background-color: #F5F5F5;
  border-color: #D9D9D9;
}
.zlit-input-radio .layui-radio-disbaled:hover div{
  color: #D2D2D2!important;
}
.zlit-input-block .layui-form-checked[lay-skin=primary] i{
  border-color: #108EE9;
  background-color: #108EE9;
}
.zlit-input-block .layui-form-checkbox[lay-skin=primary]:hover i{
  border-color: #108EE9 !important;
}
.zlit-input-block .layui-form-checked.layui-checkbox-disbaled.layui-disabled i{
  background-color: #ccc;
}
.zlit-input-block .layui-checkbox-disbaled.layui-disabled:hover i{
  border-color: #E2E2E2 !important;
}
.zlit-label-box:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.zlit-label-box>div{
  float: left;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  font-size: 16px;
  position: relative;
}
.zlit-label-box>.zlit-label-single{
  padding: 6px 35px 6px 10px;
  overflow: hidden;
  white-space: nowrap;
}
.zlit-label-box>.zlit-label-add{
  padding: 6px 10px 6px 35px;
}
.zlit-label-box>div>span{
  color: #333;
}
.zlit-label-box>div input{
  outline: none;
  border: none;
}
.zlit-label-box>div>i{
  color: #9B9B9B;
  cursor: pointer;
  display: inline-block;
}
.zlit-label-box>.zlit-label-single>i{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
}
.zlit-label-box>.zlit-label-add{
  cursor: pointer;
}
.zlit-label-box>.zlit-label-add>i{
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 22px;
}
.unit-slide .layui-input:focus{
  box-shadow: none;
}
.layui-laydate-footer span:hover{
  color: #108EE9 !important;
}
.zlit-date-range{
  position: relative;
  min-width: 235px;
}
.zlit-date-range i{
  position: absolute;
  top: 11px;
  right: 8px;
  font-size: 16px;
  color: #A0A0A0;
}
.layui-laydate-content td.laydate-selected {
  background-color: #108ee938 !important;
}
.zlit-cascade{
  position: relative;
  width: 340px;
}
.zlit-cascade>i{
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.urp-cascader-content{
  white-space: nowrap;
  background: #fff;
  border: 1px solid #e4e7ed;
  border-right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 12px;
}
ul.urp-cascader-child{
  display: inline-block;
  vertical-align: top;
  height: 204px;
  overflow: auto;
  border-right: 1px solid #e4e7ed;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  min-width: 160px;
  position: relative;
}
ul.urp-cascader-child>li>i{
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
ul.urp-cascader-child>li{
  font-size: 14px;
  padding: 8px 14px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 1.5;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
ul.urp-cascader-child li.active{
  color: #108EE9;
}
ul.urp-cascader-child>li:hover{
  background-color: #f5f5f5;
}
ul.urp-cascader-child:first-of-type:after{
  content: "";
  position: absolute;
  top: -5px;
  left: 35px;
  z-index: -1;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  border: 1px solid #e4e7ed;
}
ul.urp-cascader-child::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
ul.urp-cascader-child::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #D8D8D8;
}
ul.urp-cascader-child::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #f9f9f9;
}
.layui-form-onswitch{
  background-color: #108EE9;
  border-color: #108EE9;
}
.layui-unselect.layui-form-switch.layui-form-onswitch.layui-checkbox-disbaled.layui-disabled{
  background-color: #D9D9D9;
}
.layui-btn.layui-btn-primary.zlit-btn-primary i.layui-icon-upload-drag{
  vertical-align: -2px;
}
.zlit-upload{
  width: 535px;
}
.zlit-upload-span{
  font-size: 14px;
  color: #999;
  margin-left: 5px;
  vertical-align: -7px;
}
.zlit-upload-list{
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 110px;
}
.zlit-upload-list li{
  position: relative;
  margin: 20px 0;
}
.zlit-upload-list li:last-child{
  margin-bottom: 0;
}
.zlit-upload-list li span.zlit-file-name{
  font-size: 14px;
  color: #666666;
  margin-left: 6px;
}
.zlit-upload-list li i{
  font-size: 12px;
  color: #AFAFAF;
}
.upload-ctrl{
  float: right;
}
.upload-ctrl i:last-child{
  font-size: 16px;
  vertical-align: -2px;
  margin-left: 5px;
}
.upload-ctrl i.zlit-reload{
  display: none;
}
.zlit-upload-msg{
  font-style: normal;
}
.upload-progress{
  width: 100%;
  height: 3px;
  background-color: #F4F4F4;
  position: absolute;
  bottom: -6px;
  left: 0;
}
.upload-progress div{
  background: #108EE9;
  width: 0;
  height: 100%;
  box-sizing: border-box;
}
.zlit-img-view{
  float: left;
  margin-right: 10px;
}
.zlit-img-view div{
  width: 104px;
  height: 104px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  margin: 0 10px 10px 0;
}
.zlit-img-view div img{
  width: 100%;
}
.zlit-img-view div:last-child{
  margin: 0;
}
.zlit-upload-1:after,.zlit-img-view:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.zlit-upload-1btn{
  width: 104px;
  height: 104px;
  border: 1px dashed #bebebe;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
.zlit-upload-1btn p{
  font-size: 34px !important;
  user-select: none;
  color: #bebebe !important;
  margin-top: 26px;
}
.zlit-upload-1btn span{
  font-size: 14px;
  color: #646464;
  user-select: none;
  display: inline-block;
  margin-top: 12px;
}
.zlit-upload-2{
  width: 486px;
  height: 350px;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.zlit-upload-2-title{
  border-bottom: 1px solid #E6E6E6;
  height: 45px;
  width: 100%;
  line-height: 45px;
  padding: 0 15px;
  box-sizing: border-box;
}
.zlit-upload-2-title span{
  font-size: 18px;
  color: #333333;
  float: left;
}
.zlit-upload-2-title i{
  font-size: 30px;
  color: #999;
  cursor: pointer;
  float: right;
}
.zlit-upload-2-con{
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  height: 242px;
}
.zlit-upload-2-con .layui-upload-drag{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;
}
.zlit-upload-2-con .layui-upload-drag div{
  color: #666;
  border-radius: 4px;
  width: 110px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  margin: 0 auto 15px;
  text-align: center;
  line-height: 25px;
}
.zlit-upload-2-con .layui-upload-drag div i{
  font-size: 32px;
  vertical-align: -4px;
  margin-right: 5px;
  color: #BFBFBF;
}
.zlit-upload-2-con .layui-upload-drag p{
  color: #969696 !important;
  font-size: 14px !important;
}
.zlit-upload-2-btn{
  box-sizing: border-box;
  padding: 0 24px;
}
.zlit-upload-2-btn:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.zlit-upload-2-btn a{
  font-size: 14px;
  color: #108EE9;
}
.zlit-upload-2-btn div{
  display: inline-block;
  margin-left: 94px;
}
.zlit-upload-2 .zlit-upload-2-con .layui-upload-drag[lay-over]{
  border-color: #108EE9;
  background-color: rgba(0,0,0,0.1);
}




/*反馈*/
.feedback_box,.other_box,.form_box{
  position: relative;
}
.feedback,.other{
  padding-right: 150px;
}
.toast_box,.warning_box,.confirm_box,.mess_box,.text_box,.other_single{
  margin: 15px 0;
}
.toast_box:after,.warning_box:after,.confirm_box:after,.mess_box:after,.text_box:after,.other_single:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.toast_box>div,.warning_box>div,.confirm_box>div,.mess_box>div,.text_box>div,.other_single>div{
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 4px;
  width: 48.3%;
  float: left;
  box-sizing: border-box;
}
.toast_box div.whiteBg,.warning_box div.whiteBg,.confirm_box div.whiteBg,.mess_box div.whiteBg,.text_box div.whiteBg{
  margin-right: 3%;
}
.other_single>div:first-child{
  margin-right: 3%;
}
.whiteBg>span,.darkBg>span{
  font-size: 16px;
  color: #333333;
  margin-right: 15px;
}
.toast_box button:hover,.warning_box button:hover,.confirm_box button:hover,.mess_box button:hover,.text_box button:hover{
  color: #108EE9;
  border-color: #108EE9;
}
.confirm_box .confirm_del:hover{
  color: red;
  border-color: red;
}
.text_box button{
  width: 74px;
  padding: 0;
}
.text_box .whiteBg span,.text_box .darkBg span{
  float: left;
  margin-right: 80px;
}
.text_single{
  float: left;
  width: 60%;
}
.text_single div{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: center;
}
.text_single div:nth-child(2),.text_single div:nth-child(3),.text_single div:nth-child(4){
  justify-content: space-between;
}
.text_single div:last-child{
  margin-bottom: 0;
}

/*目录*/
.feedback_catalog,.other_catalog,.form_catalog{
  position: fixed;
  right: 20px;
  top: 90px;
  background: #fff;
  padding: 10px;
}
.feedback_catalog ul,.other_catalog ul,.form_catalog ul{
  border-left: 1px solid #cacaca;
  padding: 0 20px;
  position: relative;
}
.feedback_catalog ul li,.other_catalog ul li,.form_catalog ul li{
  line-height: 22px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  margin: 8px 0;
}
.feedback_catalog ul li.active,.other_catalog ul li.active,.form_catalog ul li.active{
  color: #108EE9;
}
.feedback_catalog ul div.feedback_slider,.other_catalog ul div.other_slider,.form_catalog ul div.form_slider{
  width: 2px;
  height: 22px;
  background: #108EE9;
  border: 1px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*msg提示信息*/
.layui-layer-dialog .layui-layer-padding {
  padding: 7px 15px 7px 35px !important;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico{
  top: 4px !important;
  left: 5px !important;
}
.layui-layer-dialog>.layui-layer-setwin>a{
  background-position: 1px -40px !important;
  width: 15px !important;
  height: 15px !important;
  right: -3px !important;
  top: -3px !important;
}

#mess-btn1{
  padding: 15px;
  text-align: center;
}
#mess-btn1 p{
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
#mess-btn1 div{
  margin-top: 14px;
}
#mess-btn2{
  padding: 15px;
  text-align: center;
  background: rgba(255,0,0,0.6);
}
#mess-btn2 p{
  font-size: 14px;
  color: #fff;
}
#mess-btn2 div{
  margin-top: 14px;
}
#mess-btn2 div button{
  border-color: #fff;
  background: transparent;
  color: #fff;
}

/*文字提示*/
/*白色背景*/
.pt {
  position: absolute;
  text-align:left;
  border: 1px solid #CFCFCF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2209;
  width: auto;
  height:auto;
  display:none;
  border-radius: 4px;
}
.pt .cont {
  height: auto;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  color: #333;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}
.pt .out, .pt .in {
  display: block;
  font-family: simsun;
  font-size: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  width: 0;
}
/*************up*******************/
.pt-up .out, .pt-up .in{
  border-style: dashed dashed solid;
}
.pt-up .out {
  border-color: transparent transparent #CFCFCF;
  border-width: 0 7px 8px;
  left: 28px;
  top: -8px;
}
.pt-up .in {
  border-color: transparent transparent #FFFFFF;
  border-width: 0 6px 7px;
  left: 29px;
  top: -7px;
}
/*************right****************/
.pt-right .out, .pt-right .in {
  border-style: dashed dashed dashed solid;
}
.pt-right .out {
  border-color: transparent transparent transparent #CFCFCF;
  border-width: 8px 0 7px 7px;
  right: -7px;
  top: 28px;
}
.pt-right .in {
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 7px 0 6px 6px;
  right: -6px;
  top: 29px;
}
/*************down*****************/
.pt-down .out, .pt-down .in {
  border-style: solid dashed dashed;
}
.pt-down .out {
  border-color: #CFCFCF transparent transparent;
  border-width: 8px 7px 0;
  bottom: -8px;
  left: 28px;
  top: auto;
}
.pt-down .in {
  border-color: #FFFFFF transparent transparent;
  border-width: 7px 6px 0;
  bottom: -7px;
  left: 29px;
  top: auto;
}
/*************left*****************/
.pt-left .out, .pt-left .in {
  border-style: dashed solid dashed dashed;
}
.pt-left .out {
  border-color: transparent #CFCFCF transparent transparent;
  border-width: 7px 8px 7px 0;
  left: -8px;
  top: 28px;
}
.pt-left .in {
  border-color: transparent #FFFFFF transparent transparent;
  border-width: 6px 7px 6px 0;
  left: -7px;
  top: 29px;
}
/*深色背景*/
.dt {
  position: absolute;
  text-align:left;
  border: 1px solid #CFCFCF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2209;
  width: auto;
  height:auto;
  display:none;
  border-radius: 4px;
}
.dt .cont {
  height: auto;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  color: #333;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
}
.dt .out, .dt .in {
  display: block;
  font-family: simsun;
  font-size: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  width: 0;
}
/*************up*******************/
.dt-up .out, .dt-up .in{
  border-style: dashed dashed solid;
}
.dt-up .out {
  border-color: transparent transparent #CFCFCF;
  border-width: 0 7px 8px;
  left: 28px;
  top: -8px;
}
.dt-up .in {
  border-color: transparent transparent rgba(0,0,0,0.7);
  border-width: 0 6px 7px;
  left: 29px;
  top: -7px;
}
/*************right****************/
.dt-right .out, .dt-right .in {
  border-style: dashed dashed dashed solid;
}
.dt-right .out {
  border-color: transparent transparent transparent #CFCFCF;
  border-width: 8px 0 7px 7px;
  right: -7px;
  top: 28px;
}
.dt-right .in {
  border-color: transparent transparent transparent rgba(0,0,0,0.7);
  border-width: 7px 0 6px 6px;
  right: -6px;
  top: 29px;
}
/*************down*****************/
.dt-down .out, .dt-down .in {
  border-style: solid dashed dashed;
}
.dt-down .out {
  border-color: #CFCFCF transparent transparent;
  border-width: 8px 7px 0;
  bottom: -8px;
  left: 28px;
  top: auto;
}
.dt-down .in {
  border-color: rgba(0,0,0,0.7) transparent transparent;
  border-width: 7px 6px 0;
  bottom: -7px;
  left: 29px;
  top: auto;
}
/*************left*****************/
.dt-left .out, .dt-left .in {
  border-style: dashed solid dashed dashed;
}
.dt-left .out {
  border-color: transparent #CFCFCF transparent transparent;
  border-width: 7px 8px 7px 0;
  left: -8px;
  top: 28px;
}
.dt-left .in {
  border-color: transparent rgba(0,0,0,0.7) transparent transparent;
  border-width: 6px 7px 6px 0;
  left: -7px;
  top: 29px;
}




/*其他*/
.other_single div.dadge-one div{
  width: 64px;
  height: 64px;
  background: #F2F2F2;
  border-radius: 4px;
  position: relative;
  float: left;
  margin-right: 40px;
}
.other_single div.dadge-one div span{
  position: absolute;
}
.other_single div.dadge-one div:first-child span{
  top: -3px;
  right: -3px;
}
.other_single div.dadge-one div:nth-child(2) span{
  top: -6px;
  right: -6px;
}
.other_single div.dadge-one div:nth-child(3) span{
  top: -6px;
  right: -10px;
}
.other_single div.dadge-one div:last-child span{
  top: -6px;
  right: -10px;
}
.other_single div.dadge-one div:last-child{
  margin: 0;
}
.other_single div.dadge-two{
  height: 124px;
}
.other_single div.dadge-two div{
  background: #F2F2F2;
  width: 224px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
  padding-left: 10px;
  line-height: 40px;
  position: relative;
  margin-top: 12px;
}
.other_single div.dadge-two div span{
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 13px;
}
.other_single .label-one p,.other_single .label-one div,.other_single .label-two p,.other_single .label-two div{
  float: left;
}
.other_single div.label-one>div,.other_single div.label-two>div{
  display: flex;
  align-items: center;
  height: 28px;
  margin-left: 20px;
}
.other_single .label-one>div span,.other_single .label-two>div span{
  margin-right: 12px;
}
.zlit-label{
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 3px;
}
.zlit-label-red-border{
  background: rgba(254, 240, 239, 1);
  border: 1px solid rgba(255, 163, 158, 1);
  color: #F5222D;
}
.zlit-label-orange-border{
  background: rgba(255, 242, 232, 1);
  border: 1px solid rgba(255, 187, 150, 1);
  color: #FA541C;
}
.zlit-label-green-border{
  background: rgba(246, 255, 237, 1);
  border: 1px solid rgba(183, 235, 143, 1);
  color: #52C41A;
}
.zlit-label-cyan-border{
  background: rgba(230, 255, 251, 1);
  border: 1px solid rgba(135, 232, 222, 1);
  color: #13C2C2;
}
.zlit-label-blue-border{
  background: rgba(230, 247, 255, 1);
  border: 1px solid rgba(145, 213, 255, 1);
  color: #1890FF;
}
.zlit-label-pink-border{
  background: rgba(255, 240, 246, 1);
  border: 1px solid rgba(255, 173, 210, 1);
  color: #F5317F;
}
.zlit-label-violet-border{
  background: rgba(249, 240, 255, 1);
  border: 1px solid rgba(211, 173, 247, 1);
  color: #722ED1;
}
.zlit-label-orange{
  background: #FA541C;
  color: #fff;
}
.zlit-label-red{
  background: #F5222D;
  color: #fff;
}
.zlit-label-green{
  background: #52C41A;
  color: #fff;
}
.zlit-label-cyan{
  background: #13C2C2;
  color: #fff;
}
.zlit-label-blue{
  background: #1890FF;
  color: #fff;
}
.zlit-label-pink{
  background: #F5317F;
  color: #fff;
}
.zlit-label-violet{
  background: #722ED1;
  color: #fff;
}
.zlit-dadge-dot{
  background: #F5222D;
  border-radius: 100px;
}
.zlit-dadge{
  padding: 0 5px;
  border-radius: 100px;
  background: #F5222D;
}
/*进度条*/
.progress-line{
  position: relative;
}
.progress-line>.progress-w{
  width: 50%;
}
.progress-line .loadingBtn{
  position: absolute;
  top: 18px;
  right: 180px;
}
.progress-line>.progress-w>div{
  margin-bottom: 40px;
}
.progress-line>.progress-w>div:last-child{
  margin: 0;
}
.progress-circular{
  height: 206px;
  box-sizing: border-box;
}
.progress-circular div{
  float: left;
  margin: 30px 10px 0 0;
}
/*直线进度条*/
.zlit-progress>span{
  position: absolute;
  top: -5px;
  right: -40px;
  font-size: 14px;
  color: #929292;
}
.zlit-progress-fail{
  border: 1px solid #F5222D;
  background: transparent;
}
.zlit-progress-fail>i{
  position: absolute;
  top: -6px;
  right: -28px;
  font-size: 18px;
  color: #F5222D;
}
.zlit-progress-success>div{
  background: #52C41A!important;
}
.zlit-progress-success>i{
  position: absolute;
  top: -5px;
  right: -25px;
  font-size: 16px;
  color: #52C41A;
}
.zlit-progress-wait>i{
  position: absolute;
  top: -5px;
  right: -25px;
  color: #C0C0C0;
  font-size: 16px;
}
/*步骤条*/
.step-line,.anchors_box{
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 15px 0;
}
.horizontal-box{
  position: relative;
  height: 100px;
}
.horizontal-con{
  margin-top: 10px;
  text-align: center;
}
.vertical-box{
  position: relative;
  height: 280px;
  overflow: hidden;
}
.vertical-con{
  height: 238px;
  line-height: 238px;
}

.horizontal-pro,.vertical-pro{
  position: relative;
  height: 100%;
}
.horizontal-step .step-single:after, .horizontal-step .step-single>div.step-desc:after, .horizontal-step:after, .vertical-step .step-single:after, .vertical-step:after,.vertical-pro:after, .vertical-step .step-single>div.step-desc:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.horizontal-step .step-single>div.step-desc{
  float: left;
}
.horizontal-step .step-single>div.step-desc, .vertical-step .step-single>div.step-desc{
  cursor: pointer;
  user-select: none;
}
.horizontal-btn,.vertical-btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.horizontal-step .step-single{
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
  float: left;
}
.horizontal-step .step-single .step-circle{
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.horizontal-step .step-single .step-con{
  font-size: 16px;
  color: #666;
  float: left;
}
.horizontal-step .step-single .step-hr{
  height: 1px;
  background: #E8E8E8;
  float: left;
  width: 200px;
  margin-top: 12px;
  position: relative;
  overflow: hidden;
}
.horizontal-step .step-single .step-hr .step-child{
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: #108EE9;
}
.vertical-step{
  margin-right: 20px;
}
.vertical-step,.vertical-con{
  float: left;
}
.vertical-step .step-single span{
  float: left;
  display: block;
}
.vertical-step .step-single .step-circle{
  width: 24px;
  height: 24px;
  color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 10px 8px 10px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.vertical-step .step-single .step-con{
  font-size: 16px;
  color: #666;
  line-height: 40px;
}
.vertical-step .step-single .step-hr{
  height: 50px;
  background: #E8E8E8;
  width: 1px;
  margin-left: 12px;
  position: relative;
  overflow: hidden;
}
.vertical-step .step-single .step-hr .step-child{
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #108EE9;
}
.horizontal-step .step-single .step-circle-active,.vertical-step .step-single .step-circle-active{
  background-color: #108EE9;
  border-color: #108EE9;
  color: #ffffff;
}
.horizontal-step .step-single .step-circle-end,.vertical-step .step-single .step-circle-end{
  border-color: #108EE9;
  color: #108EE9;
}
.horizontal-step .step-single .step-con-active,.vertical-step .step-single .step-con-active{
  color: #333;
}
.horizontal-con li,.vertical-con li{
  display: none;
}
.horizontal-con li.active,.vertical-con li.active{
  display: block;
}
/*锚点定位*/
.anchors_catalog{
  background: #fff;
  width: 170px;
}
.anchors_catalog ul{
  border-left: 1px solid #cacaca;
  padding: 0 20px;
  position: relative;
}
.anchors_catalog ul li{
  line-height: 22px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px 0;
}
.anchors_catalog ul li a{
  color: #666;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.anchors_catalog ul li:hover a{
  color: #108EE9;
}
.anchors_catalog ul li.active a{
  color: #108EE9;
}
.anchors_catalog ul div.anchors_slider{
  width: 2px;
  height: 22px;
  background: #108EE9;
  border: 1px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}




/*底部翻页*/
.page_box {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #EBEBEB;
  padding-bottom: 20px;
}

.page_box p {
  font-size: 16px;
  color: #108EE9;
  cursor: pointer;
}

.page_box p span {
  font-family: "SimSun";
  font-size: 20px;
  color: #333;
  font-weight: bold;
  vertical-align: -1px;
}

.page_box p:first-child {
  float: left;
}

.page_box p:first-child span{
  margin-right: 7px;
}

.page_box p:last-child {
  float: right;
}

.page_box p:last-child span{
  margin-left: 7px;
}
.page_box:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}