@import url('base.css');

body{
  position: relative;
  padding: 15px;
}
/*展开/折叠代码展示*/
pre.syntax{
  font-size: 12px;
  display: none;
}
.open_code{
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
  user-select: none;
  color:#1E9FFF;
}

/*目录*/
.catalog{
  position: fixed;
  right: 10px;
  top: 50%;
  background: #fff;
  padding: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.catalog ul{
  border-left: 1px solid #cacaca;
  padding: 0 20px;
  position: relative;
}
.catalog ul li{
  line-height: 22px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.catalog ul li.active{
  color: #108EE9;
}
.catalog ul div.catalog_slider{
  width: 2px;
  height: 22px;
  background: #108EE9;
  border: 1px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog p{
  font-size: 18px;
  color: #108EE9;
  margin-bottom: 10px;
}