/*侧边导航*/
.nav-side ul{
  width: 224px;
}
.nav-side .layui-nav-tree .layui-nav-bar{
  background: transparent;
}
.nav-side .layui-nav-tree .layui-nav-item a:hover{
  background: rgba(255,255,255,0.2);
}
.nav-side dl.layui-nav-child dd:hover{
  background: rgba(255,255,255,0.2);
}
.nav-side ul.layui-nav{
  background: #1B354E;
}
.nav-side .layui-nav-tree .layui-nav-child dd.layui-this,.nav-side .layui-nav-tree .layui-nav-child dd.layui-this a,.nav-side .layui-nav-tree .layui-this,.nav-side .layui-nav-tree .layui-this>a{
  background-color: rgba(255,255,255,0.2);
}
.nav-side .layui-nav-itemed>.layui-nav-child{
  background: #1B354E !important;
}
.nav-side .layui-nav-item>a>i{
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  margin-top: 12px;
  margin-right: 10px;
}
.nav-side .layui-nav-tree .layui-nav-child a{
  padding: 0 20px 0 50px;
}
.nav-side .layui-nav-tree .layui-this a:after{
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background: #108EE9;
  position: absolute;
  top: 0;
  left: 0;
}



/*Tab标签*/
/*扩展layui.css动画*/
@-webkit-keyframes layui-left {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: .3
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
@keyframes layui-left {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: .3
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.layui-anim-left {
  -webkit-animation-name: layui-left;
  animation-name: layui-left
}
/*风格一*/
.tab-style-1>.layui-tab-brief>.layui-tab-title .layui-this{
  color: #108EE9;
}
.tab-style-1>.layui-tab-brief>.layui-tab-more li.layui-this:after,.tab-style-1>.layui-tab-brief>.layui-tab-title .layui-this:after{
  border: none;
}
.tab-style-1>.layui-tab-brief>.layui-tab-title li{
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}
.tab-style-1>.layui-tab-brief>.layui-tab-title div{
  width: 65px;
  height: 2px;
  background: #108EE9;
  position: absolute;
  bottom: 0;
  left: 15px;
  transition: all 0.3s;
}
.tab-style-1>.layui-tab>.layui-tab-content{
  background: #F7F8F9;
  margin-top: 10px;
  overflow: hidden;
}
.tab-style-1>.layui-tab>.layui-tab-content>.layui-tab-item{
  height: 140px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
}
/*风格二*/
.tab-style-2>.layui-tab-card{
  border: none;
  box-shadow: none;
}
.tab-style-2>.layui-tab-card>.layui-tab-title{
  background-color: #fff;
  padding-left: 15px;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this{
  color: #108EE9;
}
.tab-style-2>.layui-tab-card>.layui-tab-title li{
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  margin-right: 12px;
  background: #F6F6F6;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  height: 41px;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this{
  border-bottom: #fff;
  background-color: #fff;
}
.tab-style-2>.layui-tab-card>.layui-tab-title .layui-this:after{
  border: none;
  width: 0;
  height: 0;
}
.tab-style-2>.layui-tab>.layui-tab-content{
  overflow: hidden;
  background: #F7F8F9;
  margin-top: 10px;
}



/*面包屑导航*/
.crumbs-nav .title .layui-breadcrumb{
  margin-top: 5px;
}
.crumbs-nav .title .layui-breadcrumb>*{
  font-size: 16px;
}
.crumbs-nav .title .layui-breadcrumb>a:hover{
  color: #108EE9 !important;
}
.crumbs-nav .layui-btn{
  float: right;
  margin-left: 10px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  border-radius: 4px;
}
.crumbs-nav .layui-btn-primary:hover{
  border-color: #C9C9C9;
}



/*分页导航*/
.paging .layui-laypage a,.paging .layui-laypage-curr,.paging .layui-laypage-spr{
  margin: 0 6px 5px 0;
  border-radius: 4px;
}
.paging-3 .layui-laypage a,.paging-3 .layui-laypage-curr,.paging-3 .layui-laypage-spr{
  border: none;
}
.paging-3 .layui-laypage .layui-laypage-curr em{
  color: #108EE9;
}
.paging .layui-laypage a,.paging .layui-laypage span{
  padding: 0 10px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
.paging .layui-laypage a:hover{
  color: #108EE9;
  border-color: #108EE9;
}
.paging-1 .layui-laypage input,.paging-1 .layui-laypage select,.paging-1 .layui-laypage button{
  color: rgba(0,0,0,0.6);
}
.paging-1 .layui-laypage input:focus,.paging-1 .layui-laypage select:focus{
  border-color: #108EE9 !important;
}
.paging-1 .layui-disabled,.paging-2 .layui-disabled{
  background: #F2F2F2;
  color: #9a9a9a !important;
}
.paging-3 .layui-disabled,.paging-4 .layui-disabled{
  color: #9a9a9a !important;
}
.paging a.layui-disabled:hover{
  border-color: #E2E2E2;
}
.paging-4{
  overflow: hidden;
  line-height: 28px;
}
.paging-4 a{
  display: block;
  float: left;
  font-size: 14px;
  font-family: SimSun;
}
.paging-4 a:hover{
  color: #108EE9;
}
.paging-4 a.prev_page{
  margin-right: 10px;
}
.paging-4 a.next_page{
  margin-left: 10px;
}
.paging-4 a.disabled{
  color: #9a9a9a;
  cursor: not-allowed;
}
.paging-4 p{
  float: left;
}
.paging-4 p span.current_page{
  color: #108EE9;
}



/*按钮*/
.zlit-btn-default{
  background: #108EE9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-main{
  border-color: #108EE9;
  color: #108EE9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-main:hover{
  border-color: #108EE9;
  color: #108EE9;
}
.zlit-btn-danger{
  border: 1px solid red;
  color: red;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-danger:hover{
  border: 1px solid red;
  color: red;
  background: #fff;
}
.zlit-btn-primary{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-primary:hover{
  border-color: #c9c9c9;
  color: #555;
}
.zlit-btn-disabled{
  background: #F5F5F5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.zlit-btn-disabled:hover{
  background: #F5F5F5;
}
.zlit-btn-del{
  background: red;
  border-radius: 4px;
}
.zlit-btn-radius{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
/*文字按钮*/
.zlit-btn-text{
  border: none;
  color: #108EE9;
}
.zlit-btn-text:hover{
  color: #108EE9;
}
/*按钮组*/
.zlit-btn-group .zlit-btn-main:first-child{
  border-left: 1px solid #108EE9;
}
.zlit-btn-group .zlit-btn-main:first-child {
  border-radius: 4px 0 0 4px;
}
.zlit-btn-group .zlit-btn-main:last-child{
  border-radius: 0 4px 4px 0;
}
.zlit-btn-group .zlit-btn-main:hover{
  color: #108EE9;
  border-color: #108EE9;
}




/*反馈*/
.layui-layer-dialog .layui-layer-padding {
  padding: 7px 15px 7px 35px !important;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico{
  top: 4px !important;
  left: 5px !important;
}
.layui-layer-dialog>.layui-layer-setwin>a{
  background-position: 1px -40px !important;
  width: 15px !important;
  height: 15px !important;
  right: -3px !important;
  top: -3px !important;
}

#mess-btn1{
  padding: 15px;
  text-align: center;
}
#mess-btn1 p{
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
#mess-btn1 div{
  margin-top: 14px;
}
#mess-btn2{
  padding: 15px;
  text-align: center;
  background: rgba(255,0,0,0.6);
}
#mess-btn2 p{
  font-size: 14px;
  color: #fff;
}
#mess-btn2 div{
  margin-top: 14px;
}
#mess-btn2 div button{
  border-color: #fff;
  background: transparent;
  color: #fff;
}

/*文字提示*/
/*白色背景*/
.pt {
  position: absolute;
  text-align:left;
  border: 1px solid #CFCFCF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2209;
  width: auto;
  height:auto;
  display:none;
  border-radius: 4px;
}
.pt .cont {
  height: auto;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  color: #333;
  border-radius: 4px;
  background-color: #fff;
}
.pt .out, .pt .in {
  display: block;
  font-family: simsun;
  font-size: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  width: 0;
}
/*************up*******************/
.pt-up .out, .pt-up .in{
  border-style: dashed dashed solid;
}
.pt-up .out {
  border-color: transparent transparent #CFCFCF;
  border-width: 0 7px 8px;
  left: 28px;
  top: -8px;
}
.pt-up .in {
  border-color: transparent transparent #FFFFFF;
  border-width: 0 6px 7px;
  left: 29px;
  top: -7px;
}
/*************right****************/
.pt-right .out, .pt-right .in {
  border-style: dashed dashed dashed solid;
}
.pt-right .out {
  border-color: transparent transparent transparent #CFCFCF;
  border-width: 8px 0 7px 7px;
  right: -7px;
  top: 28px;
}
.pt-right .in {
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 7px 0 6px 6px;
  right: -6px;
  top: 29px;
}
/*************down*****************/
.pt-down .out, .pt-down .in {
  border-style: solid dashed dashed;
}
.pt-down .out {
  border-color: #CFCFCF transparent transparent;
  border-width: 8px 7px 0;
  bottom: -8px;
  left: 28px;
  top: auto;
}
.pt-down .in {
  border-color: #FFFFFF transparent transparent;
  border-width: 7px 6px 0;
  bottom: -7px;
  left: 29px;
  top: auto;
}
/*************left*****************/
.pt-left .out, .pt-left .in {
  border-style: dashed solid dashed dashed;
}
.pt-left .out {
  border-color: transparent #CFCFCF transparent transparent;
  border-width: 7px 8px 7px 0;
  left: -8px;
  top: 28px;
}
.pt-left .in {
  border-color: transparent #FFFFFF transparent transparent;
  border-width: 6px 7px 6px 0;
  left: -7px;
  top: 29px;
}
/*深色背景*/
.dt {
  position: absolute;
  text-align:left;
  border: 1px solid #CFCFCF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2209;
  width: auto;
  height:auto;
  display:none;
  border-radius: 4px;
}
.dt .cont {
  height: auto;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  color: #333;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.7);
}
.dt .out, .dt .in {
  display: block;
  font-family: simsun;
  font-size: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  width: 0;
}
/*************up*******************/
.dt-up .out, .dt-up .in{
  border-style: dashed dashed solid;
}
.dt-up .out {
  border-color: transparent transparent #CFCFCF;
  border-width: 0 7px 8px;
  left: 28px;
  top: -8px;
}
.dt-up .in {
  border-color: transparent transparent rgba(0,0,0,0.7);
  border-width: 0 6px 7px;
  left: 29px;
  top: -7px;
}
/*************right****************/
.dt-right .out, .dt-right .in {
  border-style: dashed dashed dashed solid;
}
.dt-right .out {
  border-color: transparent transparent transparent #CFCFCF;
  border-width: 8px 0 7px 7px;
  right: -7px;
  top: 28px;
}
.dt-right .in {
  border-color: transparent transparent transparent rgba(0,0,0,0.7);
  border-width: 7px 0 6px 6px;
  right: -6px;
  top: 29px;
}
/*************down*****************/
.dt-down .out, .dt-down .in {
  border-style: solid dashed dashed;
}
.dt-down .out {
  border-color: #CFCFCF transparent transparent;
  border-width: 8px 7px 0;
  bottom: -8px;
  left: 28px;
  top: auto;
}
.dt-down .in {
  border-color: rgba(0,0,0,0.7) transparent transparent;
  border-width: 7px 6px 0;
  bottom: -7px;
  left: 29px;
  top: auto;
}
/*************left*****************/
.dt-left .out, .dt-left .in {
  border-style: dashed solid dashed dashed;
}
.dt-left .out {
  border-color: transparent #CFCFCF transparent transparent;
  border-width: 7px 8px 7px 0;
  left: -8px;
  top: 28px;
}
.dt-left .in {
  border-color: transparent rgba(0,0,0,0.7) transparent transparent;
  border-width: 6px 7px 6px 0;
  left: -7px;
  top: 29px;
}


/*徽章*/
.zlit-label{
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 3px;
}
.zlit-label-red-border{
  background: rgba(254, 240, 239, 1);
  border: 1px solid rgba(255, 163, 158, 1);
  color: #F5222D;
}
.zlit-label-orange-border{
  background: rgba(255, 242, 232, 1);
  border: 1px solid rgba(255, 187, 150, 1);
  color: #FA541C;
}
.zlit-label-green-border{
  background: rgba(246, 255, 237, 1);
  border: 1px solid rgba(183, 235, 143, 1);
  color: #52C41A;
}
.zlit-label-cyan-border{
  background: rgba(230, 255, 251, 1);
  border: 1px solid rgba(135, 232, 222, 1);
  color: #13C2C2;
}
.zlit-label-blue-border{
  background: rgba(230, 247, 255, 1);
  border: 1px solid rgba(145, 213, 255, 1);
  color: #1890FF;
}
.zlit-label-pink-border{
  background: rgba(255, 240, 246, 1);
  border: 1px solid rgba(255, 173, 210, 1);
  color: #F5317F;
}
.zlit-label-violet-border{
  background: rgba(249, 240, 255, 1);
  border: 1px solid rgba(211, 173, 247, 1);
  color: #722ED1;
}
.zlit-label-orange{
  background: #FA541C;
  color: #fff;
}
.zlit-label-red{
  background: #F5222D;
  color: #fff;
}
.zlit-label-green{
  background: #52C41A;
  color: #fff;
}
.zlit-label-cyan{
  background: #13C2C2;
  color: #fff;
}
.zlit-label-blue{
  background: #1890FF;
  color: #fff;
}
.zlit-label-pink{
  background: #F5317F;
  color: #fff;
}
.zlit-label-violet{
  background: #722ED1;
  color: #fff;
}
.zlit-dadge-dot{
  background: #F5222D;
  border-radius: 100px;
}
.zlit-dadge{
  padding: 0 5px;
  border-radius: 100px;
  background: #F5222D;
}

/*进度条*/
.zlit-progress>span{
  position: absolute;
  top: -5px;
  right: -40px;
  font-size: 14px;
  color: #929292;
}
.zlit-progress-fail{
  border: 1px solid #FF5722;
  background: transparent;
}
.zlit-progress-fail>i{
  position: absolute;
  top: -6px;
  right: -28px;
  font-size: 18px;
  color: #FF5722;
}
.zlit-progress-success>div{
  background: #52C41A!important;
}
.zlit-progress-success>i{
  position: absolute;
  top: -5px;
  right: -25px;
  font-size: 16px;
  color: #52C41A;
}
.zlit-progress-wait>i{
  position: absolute;
  top: -5px;
  right: -25px;
  color: #C0C0C0;
  font-size: 16px;
}